.footer {
  background-color: $color-main;

  @include lg-min {
    padding-top: $gap * 4.5;
    padding-bottom: $gap * 7;
  }
  @include lg {
    padding-top: $gap * 3;
    padding-bottom: $gap * 4;
  }
}